
body {
    text-align: center;
    background-color: aquamarine;
    margin-top: 2rem;
}

h1 {
    margin-bottom: 30px;
    background-image: linear-gradient(90deg, blue, orange);
    background-clip: text;
    color: transparent;
    font-weight: bolder;
}

.form {
 margin-bottom: 30px;
}
